@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #ffce54;
    font-size: 1.8rem;
    text-shadow: 2px 2px #454343;
}

body {
    background-color: #696969;
    font-family: Urbanist, sans-serif;
}

nav {
    background-color: #454343;
    padding: 20px;
}

ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    gap: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #ffce54;
}

.title {
    font-size: 3rem;
    text-shadow: 2px 2px #454343;
}

.text {
    font-size: 1.8rem;
    color: aliceblue;
    text-align: justify;
    max-width: 80%;
}

footer {
    background-color: #454343;
    color: #ffce54;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 60px;
}

.video iframe {
    width: 560px;
    height: 380px;
}

.file {
    margin-top: 80px;
}

.selected {
    color: #fff;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
}

.create {
    background-color: #188c33;
    height: 50px;
    width: 120px;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
    cursor: pointer;
}

.insert {
    background-color: #0099ff;
    height: 50px;
    width: 120px;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
    cursor: pointer;
}

.tableDiv {
    margin-top: 50px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    padding: 10px 15px;
    border: 1px solid #000;
    text-align: center;
    background-color: #ddd;
    color: #000;
}

tr:nth-child(1) {
    background-color: #ddd;
    color: #000;
}

.clear {
    background-color: #d27111;
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
    cursor: pointer;
}

@media (max-width: 1366px) {
    nav {
        padding: 10px;
    }
    a {
        font-size: 1.1rem;
    }
    .video iframe {
        width: 420px;
        height: 300px;
    }
    li {
        display: flex;
    }
}

@media (max-width: 768px) {
    nav {
        padding: 5px;
    }
    a {
        font-size: 0.7rem;
    }
    .video iframe {
        width: 340px;
        height: 200px;
    }
}

@media (max-width: 480px) {
    ul {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }
    .video iframe {
        width: 240px;
        height: 160px;
    }
}
